openai
accelerate
azure-ai-inference
azure-ai-ml
azure-core
pytorch
transformers
black
pydantic-core
notebook
numpy
pandas
# Multimodal Firewall Dependencies
easyocr
pyzbar
opencv-python
Pillow
llm-guard